<!-- acerca_de.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
   
     <div class="container mt-5 text-center">
        <h1 class="display-4">Acerca del sistema</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>
                    El sistema que presento es una plataforma de gestión de notas diseñada específicamente para la Universidad Martín Lutero, en su sede de Jalapa. Este sistema está diseñado para simplificar y agilizar el proceso de registro y seguimiento de las calificaciones de los estudiantes en sus cursos académicos.
                </p>
                <p>
                    Proporciona a los profesores y administradores una herramienta intuitiva que les permite ingresar, actualizar y supervisar las calificaciones de manera eficiente. Además, los estudiantes también pueden acceder a sus propias calificaciones a través de la plataforma, lo que fomenta la transparencia y la comunicación entre la institución educativa y sus estudiantes. Con un enfoque en la facilidad de uso y la funcionalidad, este sistema de notas contribuye a mejorar la experiencia educativa en la Universidad Martín Lutero al ofrecer un control más efectivo sobre el proceso de evaluación académica.
                </p>
                <p>
                    Para el desarrollo de este sistema, se utilizaron tecnologías modernas de desarrollo web, incluyendo el framework Django de Python para el backend y HTML, CSS y JavaScript para el frontend. Estas tecnologías se seleccionaron por su versatilidad y robustez, lo que permitió crear una plataforma sólida y escalable.
                </p>
                <p>
                    Este sistema fue desarrollado por Ader Yasmir Zeas Rocha, estudiante de quinto año de Ingeniería en Sistemas en la Universidad Martín Lutero. El proyecto fue realizado como parte de un proyecto académico y representa un esfuerzo para mejorar la gestión de calificaciones en la institución.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>
